# Dependencies
node_modules/

# Ignore everything inside data, music, and noise folders
music/*
noise/*

!data/alarm.json
!data/.gitkeep
!music/.gitkeep
!noise/.gitkeep

# Operating System files
.DS_Store
Thumbs.db
